<div class="main trainer-edit">
  <div class="container">
    <!--エラーメッセージ表示-->
    <div class="error-messages">
      <% if @trainer.errors.any? %>
        <% @trainer.errors.full_messages.each do |message| %>
          <p><%= message %></p>
        <% end %>
      <% end %>
    </div>
    
    <!--トレーナー情報編集フォーム-->    
    <div class="trainer-form">
      <%= form_with(url: "/trainers/#{@trainer.id}/update", local: true) do |form| %>
        <p>名前</p>
        <input type="text" name="name" value="<%= @trainer.name %>">
        <p>メールアドレス</p>
        <input type="email" name="email" value="<%= @trainer.email %>">
        <p>パスワード</p>
        <input type="password" name="password" value="<%= @trainer.password %>">
        <div class="submit">
          <input type="submit" value="保存する">
        </div>
      <% end %>
    </div>
  </div>
</div>