<div class="main trainer-show">
  <div class="container">
    <div class="trainer-information">
      <img src=<%= "/user_images/#{@trainer.user.image}" %>>
      <h2><%= @trainer.user.name %></h2>
      <p><%= @trainer.user.email %></p>
      <p><%= @trainer.message %></p>
      <% if @trainer.user.id == @current_user.id %>
        <%= link_to('トレーナー情報編集', "/trainers/#{@trainer.id}/edit") %>
        <%= link_to('トレーナー情報削除', "/trainers/#{@trainer.id}/destroy", method: :post, data: {confirm: '本当に削除してよろしいですか？'}) %>
      <% end %>
    </div>
  </div>
</div>